@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i');
@import url('https://rsms.me/inter/inter-ui.css');

html {
    font-size:15px;
}

.main {
    padding:5px;
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.flexC{
    max-width: 450px;
    margin: auto;
    
}

.cards{

    max-width: 1300px;
    margin: 0 auto;
}